models filter=lfs diff=lfs merge=lfs -text
models/yolov4.cfg filter=lfs diff=lfs merge=lfs -text
models/yolov4.weights filter=lfs diff=lfs merge=lfs -text
models/yolov5m6.pt filter=lfs diff=lfs merge=lfs -text
models/coco-names.txt filter=lfs diff=lfs merge=lfs -text
models/coco.names filter=lfs diff=lfs merge=lfs -text
models/yolov4-tiny.cfg filter=lfs diff=lfs merge=lfs -text
models/yolov4-tiny.weights filter=lfs diff=lfs merge=lfs -text

notebooks/** linguist-vendored
